@page
@model TeamSacramentMeetingPlanner.Pages.Meetings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Sacrament Meeting</h1>

<div>
    <h4>Agenda</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Meeting.MeetingDate" class="control-label"></label>
                    <input asp-for="Meeting.MeetingDate" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.MeetingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meeting.Conductor" class="control-label"></label>
                    <input asp-for="Meeting.Conductor" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.Conductor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meeting.OpeningHymnNumber" class="control-label"></label>
                    <input asp-for="Meeting.OpeningHymnNumber" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.OpeningHymnNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meeting.OpeningPrayer" class="control-label"></label>
                    <input asp-for="Meeting.OpeningPrayer" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.OpeningPrayer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meeting.SacramentHymnNumber" class="control-label"></label>
                    <input asp-for="Meeting.SacramentHymnNumber" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.SacramentHymnNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meeting.SpeakerOne" class="control-label"></label>
                    <input asp-for="Meeting.SpeakerOne" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.SpeakerOne" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meeting.TopicSpeakerOne" class="control-label"></label>
                    <input asp-for="Meeting.TopicSpeakerOne" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.TopicSpeakerOne" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meeting.SpeakerTwo" class="control-label"></label>
                    <input asp-for="Meeting.SpeakerTwo" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.SpeakerTwo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meeting.TopicSpeakerTwo" class="control-label"></label>
                    <input asp-for="Meeting.TopicSpeakerTwo" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.TopicSpeakerTwo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meeting.RestHymnNumber" class="control-label"></label>
                    <input asp-for="Meeting.RestHymnNumber" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.RestHymnNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meeting.SpeakerThree" class="control-label"></label>
                    <input asp-for="Meeting.SpeakerThree" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.SpeakerThree" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meeting.TopicSpeakerThree" class="control-label"></label>
                    <input asp-for="Meeting.TopicSpeakerThree" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.TopicSpeakerThree" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meeting.ClosingHymn" class="control-label"></label>
                    <input asp-for="Meeting.ClosingHymn" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.ClosingHymn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Meeting.ClosingPrayer" class="control-label"></label>
                    <input asp-for="Meeting.ClosingPrayer" class="form-control" readonly/>
                    <span asp-validation-for="Meeting.ClosingPrayer" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="submit" class="btn-secondary" value="Print Form" onclick="window.print()" />
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Meeting.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
