@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <style>
        h1 {
            background-color: black;
        }

        div {
            background-color: black;
        }

        p {
            background-color: white;
        }

        <div class="container" > {
            background-color: black;
        }
    </style>




</head>

<h1>@ViewData["Title"]</h1>

<div>
        <p>
        What is our Privacy Policy?
        <br />
        <br />
        A Privacy Policy is a statement or a legal document that states how our website collects,
        handles and processes data of its visitors. It explicitly describes whether that information
        is kept confidential, or is shared with or sold to third parties.

        In the Sacrament Meeting Planner project we DO NOT collect any Personal information about an individual including the following:

        <br />

        Name,
        Address,
        Email,
        Phone number,
        Age,
        Sex,
        Marital status,
        Race,
        Nationality,
        Religious beliefs,

        Our Privacy Policy let our users know and make sure their privacy is respected. We believe that a clear and comprehensive Privacy Policy agreement
        that tells users exactly our wesite do not collect any information inspires confidence in our website. It also gives users a sense of security
        knowing how much control they have over their personal data under the conditions they sign up for.

        Trough this Privacy Policy agreement we inform users about how our website or app handles their personal information. Our users must be also
        be informed about the reason why we dont collect any information, and that their data will not be stored on our server.

        This privacy policy helps with transparency, so users dont assume our website collecs personal information.

        <br />

        Disclosure:

        <br />

        All pictures or videos were taken from internet for educational purposes only. They pertain to their original owner.
    </p>
</div>
